%h1 Editing Map: #{Time.at(@id.to_i).ctime}
- @map = $redis.hgetall("#{NAMESPACE}:map:#{@id}").symbolize_keys
%ul
  %li Created by: #{@map[:creator]}
  %li In a: #{@map[:ship]}
  %li Starting in: #{@map[:start]} #{@map[:startsec]}
%br
%a{:href => "/delete/map/#{@id}"}
  %button.btn.btn-danger Delete This Map
%br
%br
%br
%p
-#  Debug:
  = env
- @sys = "#{NAMESPACE}:system:#{env['HTTP_EVE_SOLARSYSTEMID']}"
- @sysmeta = $redis.hgetall(@sys).symbolize_keys
%p You are in #{env['HTTP_EVE_SOLARSYSTEMNAME']}
%p Probable static is #{@sysmeta[:whStatic]}
%p
  %form.form-inline{:role => 'form', :method => 'POST'}
    .form-group
      %label.sr-only{:for => 'whname'} Wormhole Name
      %input.form-control{:type => 'text', :id => 'whname', :placeholder => @sysmeta[:whStatic], :value => @sysmeta[:whStatic]}
    %button.btn.btn-primary{:type => 'submit'} Add WH
%p
  %a{:href => "/update/map/#{@id}/K162"}
    %button.btn.btn-primary Add K162

